<!DOCTYPE html>
<head>
    <meta charset="utf8">
    <meta viewport="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <style>
        html {
            max-width: 70ch;
            padding: 3em 1em;
            margin: auto;
            line-height: 1.75;
            font-size: 1.25em;
        }
        [v-cloak] {
            display: none
        }
        @keyframes green-appear {
            from {
                background-color: lightgreen;
            }
            to {
                background-color: inherit;
            }
        }
        .chess {
            font-size: 150%;
            line-height: 1;
        }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

<!-- <section id="familiars">
    <h2>Familiars.io</h2>
</section> -->
<section id="rpnow">
    <h2><a href="https://www.rpnow.net" target="_blank">RPNow</a></h2>
    How new the user is:<br>
    <span class="chess">♟︎</span><span style="margin-right: 20px;">new</span>
    <span class="chess">♞</span><span style="margin-right: 20px;">days</span>
    <span class="chess">♝</span><span style="margin-right: 20px;">weeks</span>
    <span class="chess">♜</span><span style="margin-right: 20px;">months</span>
    <span class="chess">♛</span><span style="margin-right: 20px;">3+ months</span>
    <span class="chess">♚</span><span style="margin-right: 20px;">years</span>
    <div style="margin-top: 10px">
        <span v-for="room in rooms" :key="room.tempId" style="border:solid 2px; display:inline-block; margin-right:10px; margin-bottom:10px;">
            <span v-for="user in room.users" :key="user.tempId" style="padding: 0 10px" :style="{color:iconColor(user)}">
                <span class="chess">{{icon(user)}}</span>{{user.messages}}
                <!-- {{Math.random().toFixed(2).slice(2)}} -->
            </span>
        </span>
    </div>
</section>
<section id="ipv4">
    <h2><a href="https://ipv4.games" target="_blank">ipv4.games</a></h2>
    <table style="font-family: monospace; border-collapse: collapse;">
        <tbody>
            <tr v-for="info in shown" :key="info[2]" style="animation: green-appear 0.5s normal forwards ease-in-out;">
                <!-- <td>{{new Date(info[2]*1000).toISOString().slice(11,19)}}</td> -->
                <td style="width: 18ch">{{formatIP(info[0])}}</td>
                <td style="width:20ch;max-width:20ch; overflow: hidden; text-overflow: ellipsis;">{{info[1]}}</td>
            </tr>
        </tbody>
    </table>
</section>
<section id="chatchat">
    <h2><a href="https://chatchatgame.netlify.app" target="_blank">ChatChat</a></h2>
    <table style="font-family: monospace; border-collapse: collapse;">
        <tbody style="vertical-align:top;">
            <tr v-for="room in rooms" :key="room.id" style="animation: green-appear 0.5s normal forwards ease-in-out;">
                <td style="width:18ch;max-width:18ch; overflow: hidden; text-overflow: ellipsis;">{{room.name}}</td>
                <td style="width:10ch;max-width:10ch; word-wrap: break-word;">
                    <span v-for="_ in room.cats">🐈</span>
                    <span v-if="room.cats === 0">(empty)</span>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<script>
    // RPNOW.NET
    Vue.createApp({
        data() {
            return {
                rooms: [],
                now: Date.now(),
            }
        },
        created() {
            this.fetchUpdate();
            setInterval(() => this.fetchUpdate(), 3000);
            setInterval(() => this.now = Date.now(), 1000);
        },
        methods: {
            fetchUpdate() {
                fetch('https://rpnow.nfshost.com')
                .then(res => res.json())
                .then(rooms => {
                    // rooms.sort((a,b) => Math.max(...b.users.map(u=>u.lastMessage)) - Math.max(...a.users.map(u=>u.lastMessage)))
                    this.rooms = rooms
                });
            },
            icon(user) {
                // if (this.now - user.lastMessage < 15000) return '💬'
                if (user.age === 0) return '♟︎'
                if (user.age === 1) return '♞'
                if (user.age === 7) return '♝'
                if (user.age === 30) return '♜'
                if (user.age === 90) return '♛'
                if (user.age === 365) return '♚'
                return '❓'
            },
            iconColor(user) {
                // return ['#CC0000', '#00AA00', '#0000DD', '#CC00CC'][user.flavor];

                // const h = parseInt(user.tempId.slice(0,1), 16) / 16 * 360;
                // return `hsl(${h}, 100%, 30%)`;

                if (this.now - user.lastMessage < 15000) return 'blue'
                return 'black'
            },
        },
    }).mount(document.getElementById('rpnow'))

    // IPV4.GAMES
    Vue.createApp({
        data() {
            return {
                shown: [],
                upcoming: [],
                serverTime: 0,
                windowTime: 0,
            }
        },
        created() {
            fetch('https://ipv4.games/recent')
            .then(res => res.json())
            .then(info => {
                this.serverTime = Math.max(info.now[0] + info.now[1]/1e9, info.recent[0][2]);
                this.windowTime = this.serverTime - 10;
                this.shown = info.recent.filter(([,,t]) => t < this.windowTime).slice(0, 7);
                this.upcoming = info.recent.filter(([,,t]) => t >= this.windowTime && t < (this.serverTime|0));
                this.artificiallyStaggerDates(this.shown);
                this.artificiallyStaggerDates(this.upcoming);
                setInterval(() => this.fetchUpdate(), 3000);
                setInterval(() => this.advanceWindow(0.1), 100);
            });
        },
        methods: {
            formatIP(n) {
                return `${n>>>24}.${(n>>>16)&255}.${(n>>>8)&255}.${n&255}`
            },
            advanceWindow(s) {
                const windowDelta = this.serverTime - this.windowTime;
                if (windowDelta - s < 1) return;
                else if (windowDelta - s < 5) this.windowTime += s / 2
                else if (windowDelta - s < 15) this.windowTime += s;
                else this.windowTime = this.serverTime - 15;
                while (this.upcoming.length > 0 && this.upcoming[this.upcoming.length-1][2] < this.windowTime) {
                    this.shown.unshift(this.upcoming.pop());
                    this.shown = this.shown.slice(0, 7);
                }
            },
            fetchUpdate() {
                fetch('https://ipv4.games/recent')
                .then(res => res.json())
                .then(info => {
                    this.serverTime = Math.max(info.now[0] + info.now[1]/1e9, info.recent[0][2]);
                    // console.log(new Date(this.serverTime*1000).toISOString().slice(11,19), '/', new Date(info.recent[0][2]*1000).toISOString().slice(11,19), this.formatIP(info.recent[0][0]), info.recent[0][1]);
                    const newRecords = info.recent.filter(([,,t]) => t > (this.upcoming[0] || this.shown[0])[2] && t < (this.serverTime|0));
                    this.artificiallyStaggerDates(newRecords);
                    this.upcoming.unshift(...newRecords);
                });
            },
            artificiallyStaggerDates(records) {
                // Assuming their dates are ordered newest-to-oldest.
                // Artificially stagger timestamps to make it cooler when they roll in
                while (records.length > 0) {
                    const top = records.filter(r => r[2] === records[0][2]);
                    top.forEach((r, i, arr) => r[2] -= i/arr.length);
                    records = records.slice(top.length);
                }
            }
        },
    }).mount(document.getElementById('ipv4'))

    // CHATCHAT
    Vue.createApp({
        data() {
            return {
                rooms: [],
            }
        },
        created() {
            this.fetchUpdate();
            setInterval(() => this.fetchUpdate(), 20000);
        },
        methods: {
            fetchUpdate() {
                fetch('https://chatchat.nfshost.com')
                .then(res => res.json())
                .then(rooms => this.rooms = rooms);
            },
        },
    }).mount(document.getElementById('chatchat'))
</script>

</body>